@model Note

<div class="container">
    <h2>Add a Note</h2>

    <form asp-action="Create" method="post">
        <input asp-for="Title" class="form-control mb-2" placeholder="The Address" required />
        <textarea asp-for="Content" class="form-control mb-2" rows="5" placeholder="Content" required></textarea>

        <button type="submit" class="btn btn-success w-100">Save</button>
        <a href="/Notes/Index" class="btn btn-secondary w-100 mt-2">Back</a>
    </form>
</div>
